header {
    text-align: center;
    margin: 0 auto;
    padding-top: 250px;
    

}

header h1 {
    margin: 0 ;
    font-size: 4rem;
    color: #000;
}
header p{
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
    color: rgb(150, 121, 54);
 
    margin-bottom: 30px;
}
header a {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(78, 51, 19);
    border: rgb(51, 32, 2);
    color: #fff !important;
    padding: 1.25rem 2.5rem;
    text-decoration:none;
    border-radius: .25rem;
    display: inline-block;
}



